/*
The New School
Parsons
Data Visualization 2016 - 2020
Styles
*/


/*TNS Neue Font*/


/*Regular*/

@font-face {
  font-family: 'neue-regular';
  src: url('assets/fonts/Neue-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Neue-Regular.otf') format('opentype'), url('assets/fonts/Neue-Regular.woff') format('woff'), url('assets/fonts/Neue-Regular.ttf') format('truetype'), url('assets/fonts/Neue-Regular.svg#fonts/Neue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*Regular Italic*/

@font-face {
  font-family: 'neue-regular-italic';
  src: url('assets/fonts/Neue-RegularItalic.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Neue-RegularItalic.otf') format('opentype'), url('assets/fonts/Neue-RegularItalic.woff') format('woff'), url('assets/fonts/Neue-RegularItalic.ttf') format('truetype'), url('assets/fonts/Neue-RegularItalic.svg#fonts/Neue-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*Display Random*/

@font-face {
  font-family: 'neue-display-random';
  src: url('assets/fonts/NeueDisplay-Random.eot?#iefix') format('embedded-opentype'), url('assets/fonts/NeueDisplay-Random.otf') format('opentype'), url('assets/fonts/NeueDisplay-Random.woff') format('woff'), url('assets/fonts/NeueDisplay-Random.ttf') format('truetype'), url('assets/fonts/NeueDisplay-Random.svg#fonts/NeueDisplay-Random') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*Display Black*/

@font-face {
  font-family: 'neue-display';
  src: url('assets/fonts/NeueDisplay-Black.eot?#iefix') format('embedded-opentype'), url('assets/fonts/NeueDisplay-Black.otf') format('opentype'), url('assets/fonts/NeueDisplay-Black.woff') format('woff'), url('assets/fonts/NeueDisplay-Black.ttf') format('truetype'), url('assets/fonts/NeueDisplay-Black.svg#fonts/NeueDisplay-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*Display Wide*/

@font-face {
  font-family: 'neue-display-wide';
  src: url('assets/fonts/NeueDisplay-Wide.eot?#iefix') format('embedded-opentype'), url('assets/fonts/NeueDisplay-Wide.otf') format('opentype'), url('assets/fonts/NeueDisplay-Wide.woff') format('woff'), url('assets/fonts/NeueDisplay-Wide.ttf') format('truetype'), url('assets/fonts/NeueDisplay-Wide.svg#fonts/NeueDisplay-Wide') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*Display Ultra*/

@font-face {
  font-family: 'neue-display-ultra';
  src: url('assets/fonts/NeueDisplay-Ultra.eot?#iefix') format('embedded-opentype'), url('assets/fonts/NeueDisplay-Ultra.otf') format('opentype'), url('assets/fonts/NeueDisplay-Ultra.woff') format('woff'), url('assets/fonts/NeueDisplay-Ultra.ttf') format('truetype'), url('assets/fonts/NeueDisplay-Ultra.svg#fonts/NeueDisplay-Ultra') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-width-1 {
  font-family: "neue-display-random";
  font-weight: 700;
}

.font-width-2 {
  font-family: "neue-display-wide";
  font-weight: 700;
}

.font-width-3 {
  font-family: "neue-display-ultra";
  font-weight: 700;
}

iframe {
  width: 100%;
  height: 600px;
  border: 0;
  margin-bottom: 10px;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

img:hover {
  cursor: pointer;
}

h2 {
  font-family: "neue-regular" !important;
}

div + .bottom-stripe,
.project + .project,
.bottom-stripe + .project
{
  margin-top:15px;
}


a, a:visited {
  color: black !important;
  text-decoration: none;
}

.sitename a {
  color: #e82e21 !important;
  text-decoration: none;
}

a:hover {
  color: #e82e21 !important;
  text-decoration: none !important;
  transition: all .3s ease-in-out;
}

p {
  padding-left: 0 !important;
}

h3, aside {
  font-family: "neue-display-ultra" !important;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-transform: uppercase;
  margin: 2px 0 0 1.1em !important;
  padding: 0  !important;
  font-size: 11pt !important;
}

aside {
  color: #e82e21 !important;
}

span {
  padding: 0;
  margin: 0;
}

.title {
  padding: 0;
  font-family: "neue-regular" !important;
  font-weight: bold !important;
  font-size: 13.5pt !important;
  line-height: 15pt;
}

.subtitle {
  color: #999999 !important;
  padding: 0;
  font-family: "neue-regular-italic" !important;
  font-size: 9pt !important;
  line-height: 15pt;
}

.project {
  padding-top: 20px !important;
  border: 5px solid #fff;
  transition: all .5s ease-in-out;
}

.project:hover {
  border: 5px solid #000;
  transition: all .5s ease-in-out;
}

.bottom-stripe {
  width: 100%;
  padding: 0 0px 3px 0;
  box-sizing: border-box;
}

.bottom-stripe-inner {
  width: 100%;
  height: 5px;
  background-color: #fff;
}

.bottom-stripe-inner {
  background-color: #000;
}

#banner {
  margin: 0;
  /*padding: 10px 0 0;*/
}

#banner h1 {
  font-size: 18pt;
}

#banner h1.sitename {
  font-size: 2.33333rem;
  line-height: 2.46667rem;
  margin-top: 0.01rem;
  padding-left: 95px;
  color: #e82e21 !important;
  margin-left: .2rem;
}

#banner h1 {
  letter-spacing: 0.05em;
  font-kerning: normal;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: -2px;
  margin-left: -.5rem;
}

#banner h1 a,
#banner h1 a:hover,
#banner h1 a:active {
  color: #000;
  text-decoration: none;
}

#banner .msdv-subtitle {
  font-size: 1.0rem;
  letter-spacing: 1px;
  margin-left: 100px;
}

#banner #u_name a,
#u_name a:hover,
#u_name a:active {
  margin-bottom: 0 !important;
  color: #000 !important;
}

#stripe_menu ul {
  margin: 0 0 5px 120px;
  list-style: none;
}

#stripe_menu ul li a {
  font-family: "neue-display-random", "Arial Black", Helvetica, sans-serif;
  font-weight: 700;
  -webkit-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga' 1;
  -moz-font-feature-settings: 'liga' 1;
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
  font-size: 2.26667rem;
  line-height: 2.33333rem;
}

#stripe_menu ul li a:hover {
  color: #000;
}

#stripe_menu ul li:first-of-type a {
  line-height: 30px;
}

#stripe_menu ul li #second {
  margin-top: -120px;
}

ul {
  margin-top: 0.7em !important;
}

#inner-menu-stripe {
  margin-top: 1px;
  width: 95px;
  position: absolute;
}

#colors {
  position: fixed;
  bottom: 0;
}

.marginbot-50 {
  margin-bottom: 50px !important;
}

#videoPlayer {
width: 0;
height: 0;
}

.glyphicon-chevron-up {
padding-bottom: 10px;
}

#cover {
position: fixed;
z-index: 1;
min-width: 100vw;
height: 100%;
background-color: #DD5339;
visibility: hidden;
}

iframe {
  width: 100vw;
  height: 100vh;
}

#icon {
  text-align: center;
}

.images {
  width: 8%;
  height: 8%;
  padding-right: 5%;
  padding-left: 5%;
}

.images:hover {
  -webkit-filter: opacity(.5);
  filter: opacity(.5);
}



/* 
Search, Filter and Hashtag
*/



[v-cloak] {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "neue-regular";
}

.search-wrapper {
  margin: 10px 0;
}

.filter-wrapper {
  margin: 10px 0;
}

button{
  background: #f5f5f5;
  font-family: "neue-regular";
  font-size: 0.75em;
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  transition: .3s ease
}

button:hover{
  background-color: #666666;
  color: #fff;
} 

button.active{
  background-color: #e82e21;
  color: #fff;
}

.col-space {
  content: '&nbsp;';
}

@media screen and (max-width: 767px) {
  .col-space {
    display: none;
  }
}

.container {
  max-width: 980px;
  margin: 20px auto;
}

@media screen and (max-width: 1050px) {
  .container {
    width: 95%;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  min-height: 150px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}

.box_name {
  color: #000000;
  font-family: "neue-display-ultra" !important;
  font-size: 0.75em;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.box_title {
  color: #000000;
  font-family: "neue-regular" !important;
  font-size: 0.75em;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.box_info {
  font-size: 0.7em;
  line-height: 16pt;
  padding-right: 10%;
  padding-left: 10%;
}

.showmore {
  font-size: 1.1em;
  margin-top: 1.5em;
}

.showmore .more, .showmore.show .dots {
  display: none
}

.showmore.show .more {
  display: inline
}

.showmore a {
  cursor: pointer;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-style: italic;
}

.box_empty {
  background-color: transparent;
  box-shadow: none;
}

.box:hover {
  cursor: pointer;
}

.el-select {
  width: 100%;  
}



/* 
Override Element UI default styles
*/



.el-input__inner {
  font-family: "neue-regular" !important;
}

.el-select-dropdown__item.hover {
  background-color: #666666 !important;
  color: white;
}

.el-select-dropdown__item.active {
  background-color: #e82e21 !important;
  color: white;
}

.el-select-dropdown__item.selected {
  background-color: #e82e21 !important;
  color: white;
}



/* 
Footer
*/



#footer {
  font-family: "neue-regular";
  font-size: 0.8em;
  line-height: 12pt;
}

#copyright {
  font-family: "neue-regular";
  font-size: 0.75em;
}

@media screen and (max-width: 767px) {
  #footer {
    font-size: 1em;
    line-height: 16pt;
  }
}