button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #f15a24;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #c1481d;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #f15a24; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #f15a24;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(236, 73, 15, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 1.5625em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #f15a24;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #b5441b; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

html {
  height: 100%; }

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto; }

h1 {
  font-weight: 400; }

h2 {
  font-weight: 400;
  border-bottom: 2px solid #f15a24;
  padding-bottom: 10px; }

h6 {
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: .8em;
  line-height: .9em;
  color: #f15a24; }

p {
  color: #333; }

.auto-hide-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #999;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s; }

@media only screen and (max-width: 1024px) {
  .auto-hide-header {
    height: 120px; } }

.auto-hide-header::after {
  clear: both;
  content: "";
  display: block; }

.auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

.hCenter {
  text-align: center;
  font-family: "Libre Baskerville", Georgia, serif;
  font-weight: 400;
  font-size: 1em;
  color: #333; }

.hLeft {
  margin-top: -5px; }

.leftDesktop {
  display: inline-block; }

@media only screen and (max-width: 1024px) {
  .leftDesktop {
    display: none; } }

.leftMobile {
  display: none; }

.viewerChoice {
  font-size: .8em;
  font-family: "Rubik", Trebuchet, sans-serif;
  color: #333;
  font-weight: 400;
  margin-left: 15px;
  padding-bottom: 5px;
  cursor: pointer; }

.viewerChoice:hover {
  color: black; }

.viewerChoice.viewerChosen {
  border-bottom: 2px solid black;
  color: black; }

.hRight {
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: .8em;
  color: #333;
  font-weight: 400;
  text-align: center; }

.search {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin-right: 20px; }

.search .fa-search {
  position: absolute;
  bottom: 24px;
  right: 7px;
  font-size: 25px;
  color: #f15a24;
  cursor: pointer;
  z-index: 100; }

.searchBox {
  width: 0px;
  height: 25px;
  padding: 5px 0 5px 0;
  border: none;
  border-bottom: 2px solid #333;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
  box-sizing: initial;
  text-decoration: underline;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.searchBoxLight {
  background-color: rgba(255, 255, 255, 0.75) !important; }

.search:hover .searchBox, .searchBox:hover, .searchBox:focus {
  width: 250px;
  padding: 5px;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

.suggest {
  color: #333 !important;
  background-color: none !important;
  position: absolute !important;
  top: 0;
  padding: 8px 5px 5px 5px;
  z-index: 0 !important; }

@media only screen and (max-width: 1024px) {
  .search {
    margin-top: 20px;
    width: 75%; }
  .leftMobile {
    display: inline-block; }
  .hLeft {
    margin-top: 15px; } }

.scroll-arrow {
  position: absolute;
  color: #f15a24;
  left: 50%;
  top: 95%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.guide {
  color: #999;
  font-size: .8em; }

.full {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center; }

.dark {
  background-color: black;
  color: white; }

.dark p {
  color: white; }

.centered {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 1025px) {
    .centered {
      width: calc(66.6666666667% - 25px);
      float: left;
      margin-left: 15px;
      margin-left: calc(16.6666666667% - 17.5px + 30px); } }

.fullwidth {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  text-align: center; }

.halfwidth {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 1025px) {
    .halfwidth {
      width: calc(50% - 22.5px);
      float: left;
      margin-left: 15px; } }

.thirdwidth {
  position: relative;
  text-align: center;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 1025px) {
    .thirdwidth {
      width: calc(33.3333333333% - 20px);
      float: left;
      margin-left: 15px; } }

.quarterwidth {
  position: relative;
  text-align: center;
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 1025px) {
    .quarterwidth {
      width: calc(25% - 18.75px);
      float: left;
      margin-left: 15px; } }

.centered-small {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 480px) {
    .centered-small {
      width: calc(66.6666666667% - 25px);
      float: left;
      margin-left: 15px;
      margin-left: calc(16.6666666667% - 17.5px + 30px); } }
  @media only screen and (min-width: 1025px) {
    .centered-small {
      width: calc(50% - 22.5px);
      float: left;
      margin-left: 15px;
      margin-left: calc(25% - 18.75px + 30px); } }

.orange {
  color: #f15a24; }

#p1, #p3 {
  text-align: center; }

.stories {
  min-width: 100%;
  height: 25em;
  overflow: hidden;
  cursor: grab; }

.stories-content {
  padding: .5em;
  overflow-y: hidden;
  height: 30em;
  width: 100%;
  position: relative;
  white-space: nowrap; }

.clear {
  clear: both; }

.story-option-container {
  display: inline-block;
  vertical-align: top;
  width: 12em;
  padding: 1em;
  margin: 0 2em 0 2em; }

.story-option-circle {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background-color: #f15a24; }

.story-option-circle:hover {
  background-color: #333; }

.story-label {
  white-space: normal;
  text-align: center;
  padding-top: 25px;
  font-size: .8em;
  line-height: 1.25em; }

.story-option-name {
  margin-left: -100%;
  margin-right: -100%;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 1.25em;
  color: #333; }

.story-option-quote {
  font-family: "Libre Baskerville", Georgia, serif;
  width: 12em;
  padding-top: 10px;
  color: #999; }

.story-option-container:hover {
  cursor: pointer;
  outline: 2px solid #f15a24;
  color: #333; }

#p2, #p4 {
  position: relative; }

#storyNameFI {
  position: absolute;
  top: 80%;
  left: 0; }

#p5 {
  position: relative; }

#storyName {
  text-align: center; }

#storyBioT {
  position: absolute;
  top: 0;
  left: 0; }

.story-section {
  color: #f15a24;
  font-size: .75em; }

.story-pre {
  color: #999;
  font-size: .75em; }

.story-quote {
  font-family: "Libre Baskerville", Georgia, serif; }

#p6 {
  padding: 0;
  position: relative; }

.over {
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.overlay {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); }

#oneof {
  top: 25%;
  left: 50%; }

#thismany {
  top: 43.75%;
  left: 50%; }

#fromreserves {
  top: 62.5%;
  left: 50%; }

.trigger {
  color: black;
  z-index: 99;
  position: absolute; }

#tMap1_p {
  top: 0;
  left: 0; }

#tMap1_zo {
  top: 25%;
  left: 0; }

#tMap1_irs {
  top: 43.75%;
  left: 0; }

#tMap1_reserves {
  top: 62.5%;
  left: 0; }

#tMap1_connections {
  top: 80%;
  left: 0; }

.label {
  font-size: 1.5em;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-weight: 400;
  fill: #333;
  stroke-location: outside; }

.sTooltip {
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 14px;
  fill: #333;
  opacity: 0; }

.sTooltip2 {
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 12px;
  fill: #999;
  opacity: 0; }

.rTooltip {
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 14px;
  fill: #333;
  opacity: 0; }

.dot, .rDot, .rTooltip, .sTooltip, .sTooltip2 {
  cursor: default; }

.pos-prp {
  color: #f15a24; }

.pos-nnps, .pos-nnp {
  color: #999; }

#map {
  position: absolute;
  width: 100%;
  height: 100%; }

.mapboxgl-ctrl-top-right {
  right: 15px !important; }

.mapboxgl-ctrl-bottom-right {
  right: 25px !important; }

.mapboxgl-ctrl-compass {
  display: none !important; }

svg {
  position: absolute;
  width: 100%;
  height: 100%; }

.rightBar {
  position: fixed;
  background: white;
  min-width: 50%;
  width: 500px;
  max-width: 90%;
  height: 100%;
  top: 0;
  right: -50%;
  padding: 10px 20px 10px 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.mapControlSlide {
  right: -moz-calc(25% + 15px) !important;
  right: -webkit-calc(25% + 15px) !important;
  right: -o-calc(25% + 15px) !important;
  right: calc(25% + 15px) !important; }

.rightBarOut {
  right: 0;
  -webkit-box-shadow: 10px 10px 5px 10px #333;
  box-shadow: 10px 10px 5px 10px #333; }

.rSection {
  width: calc(100%);
  margin: 0 0 10px 0; }

.r3 {
  height: -mox-calc(33% - 20px);
  height: -webkit-calc(33% - 20px);
  height: -o-calc(33% - 20px);
  height: calc(33% - 10px);
  min-height: 250px; }

.r6 {
  padding: 50px 0 15px 0; }

.r6 h2 {
  text-align: center;
  font-family: "Libre Baskerville", Georgia, serif;
  border: none; }

.r3 h4 {
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #999;
  border-bottom: 1.5px solid #f15a24;
  height: 4em; }

.r1Content {
  font-size: .8em;
  height: 60%;
  overflow-y: scroll;
  width: -moz-calc(100% + 16px);
  width: -webkit-calc(100% + 16px);
  width: -o-calc(100% + 16px);
  width: calc(100% + 16px); }

.rReservesName {
  color: #333; }

.rReservesDistance {
  color: #ddd; }

.r3 p, .r6 p {
  text-align: center;
  font-size: .75em; }

.rExit {
  position: absolute;
  top: 2px;
  left: 5px;
  cursor: pointer;
  color: #333; }

.rExit:hover {
  color: #999; }

.rHalf {
  margin-top: 30px !important;
  height: 60%;
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  margin-left: 0px !important;
  margin-right: 15px;
  overflow: hidden; }

#rReligiousGroups {
  display: none; }

#rReserves {
  display: none; }

.tick text {
  font-family: "Rubik", Trebuchet, sans-serif;
  fill: black; }

/*--axes--*/
.xAxis path {
  display: none; }

.yAxis path {
  display: none;
  stroke-width: 2px;
  stroke: rgba(0, 0, 0, 0.25);
  stroke-linecap: round;
  stroke-dasharray: .1, 4; }

.axis text {
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 9px;
  opacity: .5; }

.yAxis text {
  transform: translate(-5px, 0); }

.tick line {
  stroke: rgba(0, 0, 0, 0.25);
  stroke-linecap: round;
  stroke-dasharray: .1, 4; }

.sMbar {
  stroke: #f15a24;
  stroke-width: 15px;
  opacity: .9; }

.sMlabel {
  fill: white;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 10px;
  text-transform: capitalize;
  pointer-events: none; }

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  text-align: left; }

.sMorgName {
  font-weight: bold;
  font-size: 10px; }

.sMyear {
  font-weight: normal;
  font-style: italic;
  font-size: 9px;
  opacity: .9; }

.AIcircle {
  fill: #999; }

.lAI {
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 9px;
  opacity: .5; }

.lEnrolment {
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 9px;
  opacity: .75;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.lineAI {
  stroke: rgba(0, 0, 0, 0.25);
  stroke-linecap: round;
  stroke-dasharray: .1, 4; }

.r3 {
  overflow-y: scroll;
  overflow-x: hidden; }

#rTimelineInner {
  width: -moz-calc(100% + 16px);
  width: -webkit-calc(100% + 16px);
  width: -o-calc(100% + 16px);
  width: calc(100% + 16px); }

.rTimelineEach {
  display: flex;
  align-items: center;
  background-color: yellow;
  min-height: 50px;
  height: auto;
  margin-bottom: 25px; }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #333;
  content: "\25BC";
  position: absolute;
  text-align: center; }

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0; }
