@import "neat";
@import "bourbon", "bitters/base";

// variables
$neat-grid: (
  columns: 12,
  gutter: 20px,
);

$tablet-neat-grid: (
  columns: 12,
  gutter: 15px,
  media: 1025px,
);

$phone-neat-grid: (
  columns: 12,
  gutter: 15px,
  media: 480px,
);


// basics
html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}


// typography
h1 {
  font-weight: $regular;
}

h2 {
  font-weight: $regular;
  border-bottom: 2px solid $orange;
  padding-bottom: 10px;
}

h6 {
  font-family: $sansserif;
  font-size: .8em;
  line-height: .9em;
  color: $orange;
}

p {
  // font-size: 1em;
  // line-height: 1.1em;
  color: $dark-gray;
}


// header
.auto-hide-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: $medium-gray;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
@media only screen and (max-width: 1024px) {
  .auto-hide-header {
    height: 120px;
  }
}
.auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}


.hCenter {
  text-align: center;
  font-family: $serif;
  font-weight: 400;
  font-size: 1em;
  color: $dark-gray;
}

.hLeft {
  margin-top: -5px;
}

.leftDesktop {
  display: inline-block;
}

@media only screen and (max-width: 1024px) {
  .leftDesktop {
    display: none;
  }
}

.leftMobile {
  display: none;
}

.viewerChoice {
  font-size: .8em;
  font-family: $sansserif;
  color: $dark-gray;
  font-weight: 400;
  margin-left: 15px;
  padding-bottom: 5px;
  cursor: pointer;
}

.viewerChoice:hover {
  color: black;
}

.viewerChoice.viewerChosen {
  border-bottom: 2px solid black;
  color: black;
}


.hRight {
  font-family: $sansserif;
  font-size: .8em;
  color: $dark-gray;
  font-weight: 400;
  text-align: center;
}

.search {
  // background-color: white;
  position: fixed;
  z-index: 100;
  // // width: 50%;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  // // -webkit-transform: translateX(-50%);
  // //     -ms-transform: translateX(-50%);
  // //         transform: translateX(-50%);
}

.search .fa-search {
  position: absolute;
  bottom: 24px;
  right: 7px;
  font-size: 25px;
  color: $orange;
  cursor: pointer;
  z-index: 100;
}

.fa-search-light {
  // background: rgba(255,255,255,.75);
}

.fa-search-dark {
  // background: rgba(0,0,0,.75);
}

.searchBox {
  width: 0px;
  height: 25px;
  padding: 5px 0 5px 0;
  border: none;
  border-bottom: 2px solid $dark-gray;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
  box-sizing: initial;
  text-decoration: underline;

  -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.searchBoxLight {
  background-color: rgba(255,255,255,.75) !important;
}

.search:hover .searchBox, .searchBox:hover, .searchBox:focus {
  width: 250px;
  padding: 5px;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.suggest {
  color: $dark-gray !important;
  background-color: none !important;
  position: absolute !important;
  top: 0;
  padding: 8px 5px 5px 5px;
  z-index: 0 !important;
}

@media only screen and (max-width: 1024px) {
  .search {
    margin-top: 20px;
    width: 75%;
  }
  .leftMobile {
    display: inline-block;
  }
  .hLeft {
    margin-top: 15px;
  }
}


























// scroll/section guide
.scroll-arrow {
  position: absolute;
  color: $orange;
  left: 50%;
  top: 95%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.guide {
  color: $medium-gray;
  font-size: .8em;
}


// sections
.full {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.dark {
  background-color: black;
  color: white;
}

.dark p {
  color: white;
}

.centered {
  @include grid-column(12);
  @include grid-media($tablet-neat-grid){
    @include grid-column(8);
    @include grid-push(2);
  }
}

.fullwidth {
  @include grid-column(12);
  text-align: center;
}

.halfwidth {
  // background-color: $light-gray;
  @include grid-column(12);
  @include grid-media($tablet-neat-grid){
    @include grid-column(6);
  }
}

.thirdwidth {
  position: relative;
  text-align: center;
  // background-color: $light-gray;
  @include grid-column(12);
  @include grid-media($tablet-neat-grid){
    @include grid-column(4);
  }
}

.quarterwidth {
  position: relative;
  text-align: center;
  // background-color: $light-gray;
  @include grid-column(6);
  @include grid-media($tablet-neat-grid){
    @include grid-column(3);
  }
}


.centered-small {
  @include grid-column(12);
  // @include grid-push(1);
  @include grid-media($phone-neat-grid){
    @include grid-column(8);
    @include grid-push(2);
  }
  @include grid-media($tablet-neat-grid){
    @include grid-column(6);
    @include grid-push(3);
  }
}

.orange {
  color: $orange;
}

// section specifics
#p1, #p3 {
  text-align: center;
}

.stories {
  min-width: 100%;
  height: 25em;
  overflow: hidden;
  cursor: grab;
}

.stories-content {
  padding: .5em;
  // width: 100%;
  // overflow-x: scroll;
  overflow-y: hidden;
  height: 30em;
  width: 100%;
  position: relative;
  white-space: nowrap;
}

#stories-select {
  // float: left;
  // -ms-transform: translateX(-50%);
  // -webkit-transform: translate(-50%, 0);
  // transform: translate(-50%, 0);
}

.clear {
  clear: both;
}

.story-option-container {
  display: inline-block;
  vertical-align: top;
  width: 12em;
  padding: 1em;
  margin: 0 2em 0 2em;
}

.story-option-circle {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background-color: $orange;
}

.story-option-circle:hover {
  background-color: $dark-gray;
}

.story-label {
white-space: normal;
  text-align: center;
  padding-top: 25px;
  font-size: .8em;
  line-height: 1.25em;
}

.story-option-name {
  margin-left: -100%;
  margin-right: -100%;
  font-family: $sansserif;
  font-size: 1.25em;
  color: $dark-gray;
}

.story-option-quote {
font-family: $serif;
  width: 12em;
  padding-top: 10px;
  color: $medium-gray;
}

.story-option-container:hover {
  cursor: pointer;
  outline: 2px solid $orange;
  color: $dark-gray;
}

#p2, #p4 {
  position: relative;
}

#storyNameFI {
  position: absolute;
  top:80%;
  left: 0;
}

#p5 {
  position: relative;
}

#storyName {
  text-align: center;
}

#storyBioT {
  position: absolute;
  top:0;
  left: 0;
}

.story-section {
  color: $orange;
  font-size: .75em;
}

.story-pre {
  color: $medium-gray;
  // font-style: italic;
  font-size: .75em;
}

.story-quote {
  font-family: $serif;
}

// #p6 h1, #p7 h1 {
//   text-align: center;
// }

#p6 {
  padding: 0;
  position: relative;
}

.over {
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  // width: 100%;
  // display: flex;
  // align-items: center;
}

.overlay {
  padding: 20px;
  background-color: rgba(255,255,255,.9);
}

#oneof {
  top: 25%;
  left: 50%;
}

#thismany {
  top: 43.75%;
  left: 50%;
}

#fromreserves {
  top: 62.5%;
  left: 50%;
}

// triggers
.trigger {
  color: black;
  z-index: 99;
  position: absolute;
}
#tMap1_p {
  top: 0;
  left: 0;
}
#tMap1_zo {
  top: 25%;
  left: 0;
}
#tMap1_irs {
  top: 43.75%;
  left: 0;
}
#tMap1_reserves {
  top: 62.5%;
  left: 0;
}
#tMap1_connections {
  top: 80%;
  left: 0;
}



// map components
#map1_cont {
  // z-index: 0;
}

.label {
  font-size: 1.5em;
  font-family: $sansserif;
  font-weight: 400;
  fill: $dark-gray;
  // stroke: white;
  // stroke-width: .1px;
  stroke-location: outside;
}

.sTooltip {
  font-family: $sansserif;
  font-size: 14px;
  fill: $dark-gray;
  opacity: 0;
}

.sTooltip2 {
  font-family: $sansserif;
  font-size: 12px;
  fill: $medium-gray;
  opacity: 0;
}

.rTooltip {
  font-family: $sansserif;
  font-size: 14px;
  fill: $dark-gray;
  opacity: 0;
}

.dot, .rDot, .rTooltip, .sTooltip, .sTooltip2 {
  cursor: default;
}

// parts of speech
.pos-prp {
  color: $orange;
}

.pos-nnps, .pos-nnp {
  color: $medium-gray;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl-top-right {
  right: 15px !important;
}

.mapboxgl-ctrl-bottom-right {
  right: 25px !important;
}

.mapboxgl-ctrl-compass {
display: none !important;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}


.rightBar {
  position: fixed;
  background: white;
  min-width: 50%;
  width: 500px;
  max-width: 90%;
  height: 100%;
  top: 0;
  right: -50%;
  padding: 10px 20px 10px 10px;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.mapControlSlide {
  right: -moz-calc(25% + 15px) !important;
  right: -webkit-calc(25% + 15px) !important;
  right: -o-calc(25% + 15px) !important;
  right: calc(25% + 15px) !important;
}

.rightBarOut {
  right: 0;

  -webkit-box-shadow: 10px 10px 5px 10px $dark-gray;
  box-shadow: 10px 10px 5px 10px $dark-gray;
}

.rSection {
  // background-color: rgba(0,0,0,.5);
  width: calc(100%);
  margin: 0 0 10px 0;
}

.r3 {
  height: -mox-calc(33% - 20px);
  height: -webkit-calc(33% - 20px);
  height: -o-calc(33% - 20px);
  height: calc(33% - 10px);
  min-height: 250px;
}

.r6 {
  padding: 50px 0 15px 0;
}

.r6 h2 {
  text-align: center;
  font-family: $serif;
  // margin-bottom: 25px;
  border: none;
}

.r3 h4 {
  font-family: $sansserif;
  font-size: 1em;
  font-weight: 300;
  color: $medium-gray;
  border-bottom: 1.5px solid $orange;
  height: 4em;
}

.r1Content {
  font-size: .8em;
  height: 60%;
  overflow-y: scroll;
  width: -moz-calc(100% + 16px);
  width: -webkit-calc(100% + 16px);
  width: -o-calc(100% + 16px);
  width: calc(100% + 16px);
}

.rReservesName {
  color: $dark-gray;
}

.rReservesDistance {
  color: $light-gray;
}

.r3 p, .r6 p {
  text-align: center;
  font-size: .75em;
}

.rExit {
  position: absolute;
  top: 2px;
  left: 5px;
  cursor: pointer;
  color: $dark-gray;
}

.rExit:hover {
  color: $medium-gray;
}

.rHalf {
  margin-top: 30px !important;
  height: 60%;
  @include grid-column(6);
  margin-left: 0px !important;
  margin-right: 15px;
  overflow: hidden;
}

#rReligiousGroups {
  display: none;
}

#rReserves {
  display: none;
}




.tick text {
    font-family: $sansserif;
    fill: black;
}
//
// .tick line {
//     stroke: black;
// }
//
// .xAxis line, .xAxis path {
//     stroke: black;
// }
//
// .yAxis line, .yAxis path {
//     stroke: black;
// }

/*--axes--*/
// .axis path, .axis line {
//     fill: black;
//     shape-rendering: crispEdges;
// }
//

// .xAxis path {
//   transform: translate(0, -100px);
// }
.xAxis path {
  display: none;
}
//
.yAxis path {
    display: none;
    // transform: translate(0,-225px);
    stroke-width: 2px;
    stroke: rgba(0,0,0,.25);
    stroke-linecap: round;
    stroke-dasharray: .1, 4;
}

.axis text {
    font-family: $sansserif;
    font-size: 9px;
    opacity: .5;
}

.yAxis text {
    transform: translate(-5px,0);
}
//
// .yAxis2 text {
//     transform: translate(-5px,0);
// }
//
// .xAxis text {
//     display: none;
// }
//
// .xAxis2 text {
//     font-family: Arial, sans-serif;
//     font-size: 10px;
//     transform: translate(0,20px);
//     color: black;
//     opacity: 1;
// }
//
.tick line {
    stroke: rgba(0,0,0,.25);
    stroke-linecap: round;
    stroke-dasharray: .1, 4;
}

.sMbar {
  stroke: $orange;
  stroke-width: 15px;
  opacity: .9;
}

.sMlabel {
  fill: white;
  font-family: $sansserif;
  font-size: 10px;
  text-transform: capitalize;
  pointer-events: none;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: $dark-gray;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  text-align: left;
}

.sMorgName {
  font-weight: bold;
  font-size: 10px;
}

.sMyear {
  font-weight: normal;
  font-style: italic;
  font-size: 9px;
  opacity: .9;
}

.AIcircle {
  fill: $medium-gray;
}

.lAI {
  font-family: $sansserif;
  font-size: 9px;
  opacity: .5;
}

.lEnrolment {
  font-family: $sansserif;
  font-size: 9px;
  opacity: .75;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.lineAI {
  stroke: rgba(0,0,0,.25);
  stroke-linecap: round;
  stroke-dasharray: .1, 4;
}

.r3 {
  overflow-y: scroll;
  overflow-x: hidden;
}

#rTimelineInner {
  width: -moz-calc(100% + 16px);
  width: -webkit-calc(100% + 16px);
  width: -o-calc(100% + 16px);
  width: calc(100% + 16px);
}

.rTimelineEach {
  display: flex;
  align-items: center;
  background-color: yellow;
  min-height: 50px;
  height: auto;
  margin-bottom: 25px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: $dark-gray;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
